
@{
    ViewBag.Title = "Createdonghonu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Sản Phẩm</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <p>

            Mã Đồng Hồ :
            @Html.TextBox("MaDongHo")<font color=red>
                @ViewData["loi"]
            </font>
        </p>
        <p>

            Mã Màu :
            @Html.DropDownList("MaMau")<font color=red>

            </font>
        </p>
        <p>
            Mã Chất Liệu :
            @Html.DropDownList("MaChatLieu")<font color=red>

            </font>
        </p>
        <p>
            Mã Nhà Sản Xuất:
            @Html.DropDownList("MaNhaSanXuat")  <font color=red>

            </font>
        </p>
        <p>
            Tên đồng hồ :
            @Html.TextBox("TenDongHo") <font color=red>
                @ViewData["loi1"]
            </font>
        </p>
        <p>
            Ảnh :

            <input type="file" name="HinhAnh" /> <font color=red>


            </font>
        </p>
        <p>
            Mô tả :
            <br />
            <textarea id="TextArea1" rows="5" cols="40" name="MoTa"></textarea> <font color=red>

                @ViewData["loi"]
            </font>
        </p>

        <p>
            Giá bán :
            @Html.TextBox("GiaBan") <font color=red>

            </font>
        </p>

        <p>
            Ngày cập nhật :
            <input type="date" name="NgayCapNhat" />
            <font color=red>

            </font>
        </p>
        <p>
            <button type="submit" class="btn btn-success">Tạo Mới</button>
            <a href="@Url.Action("donghonu","QuanLyDongHo")" class="btn btn-primary">
                Trở Về
            </a>
        </p>
    </fieldset>
    <div> </div>
}
