@using WebBanDongHo.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ChatLieu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý chất liệu</h2>
<div class="page-wrapper">
    <table width="100" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    Mã chất liệu
                </th>
                <th>
                    Tên chất liệu
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">

                    <td>
                        @item.MaChatLieu
                    </td>
                    <td>

                        @item.TenChatLieu
                    </td>

                    <td>

                        <a href="@Url.Action("Editcl", new { id = int.Parse(item.MaChatLieu) })" class="btn btn-primary">
                            Sửa
                        </a>
                        <a href="@Url.Action("Deletecl", new { id = int.Parse(item.MaChatLieu) })" class="btn btn-danger">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
    </table>
    <a href="@Url.Action("Createcl", "ChatLieu") " class="btn btn-success">
        Thêm Chất Liệu
    </a>


</div>
<footer>
    <div class="MenuTrang" style="text-align:center;">
        trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action
                      ("Index", new { page = page })) <br />
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>

</footer>

